<html>
    <header>
        <head>
            <title>UC Avtalsdatabas</title>
            <link rel="icon" type="image/x-icon" href="/favicon.ico"/>        
            <link rel="stylesheet" href="/styles/login.css">
            <link rel="stylesheet" href="/css/bootstrap.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
            <link rel="stylesheet" href="/styles/main.css">
        </head>
    </header>
    <div class="container">
        <h1 id="title">UC Tailor Made Avtalsdatabas</h1>
        <p>Ett fel inträffade, <a href="/">återvänd till startsidan.</a></p>
    </div>    
</html>