</div>

<div class="footerblock">
    <span><%= __('Kontakt:') %> <a href="mailto:tobias.nordvall@teliacompany.com">tobias.nordvall@teliacompany.com</a></span>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/custom.js"></script>

<script src="https://kit.fontawesome.com/a7e36d1d54.js" crossorigin="anonymous"></script>
<script>
    //Enables Bootstrap Tooltips v
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
